@import "macchiato.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: @base;
}

button {
  border-radius: 9999px;
  margin: 10px 20px;
  font-size: 18px;
  border-color: @mantle;
  color: @text;
	border-style: solid;
	border-width: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
}

button:focus, button:active, button:hover {
	border-width: 4px;
  border-color: @lavender;
  outline: none;
}

#lock {
  background-image: image(url("icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}
