# auto generated
Session.vim

.chezmoidata.toml

# fish
dot_config/fish/fish_variables

# neovim
dot_config/nvim/plugin/packer_compiled.lua

# fcitx5
dot_config/fcitx5/conf/private_cached_layouts

# systemed
dot_config/systemd/user/sway-session.target.wants/

# sway log
dot_config/sway/log/
