[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/susiyaki/.nix-profile/bin/tmux new-session -d

ExecStop=/home/susiyaki/.tmux/plugins/tmux-resurrect/scripts/save.sh
ExecStop=/home/susiyaki/.nix-profile/bin/tmux kill-server
KillMode=control-group

RestartSec=2

[Install]
WantedBy=default.target
