@import "macchiato.css";

* {
  /* reference the color by using @color-name */
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

#custom-clock,
#battery,
#cpu,
#memory,
#backlight,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-screencast,
#custom-voice,
#custom-dnd {
  color: @text;
  border-radius: 9999px;
  border: 1px solid @lavender;
  font-size: 14px;
  margin: 4px 0;
  padding: 4px 8px;
}

#custom-clock {
  background-color: @lavender;
  color: @base;
}

#idle_inhibitor {
  padding: 0 7px;
}

#custom-screencast.recording {
  color: @red;
  padding: 0 10px;
  background-color: alpha(@red, 0.2);
  border-color: @red;
}

#custom-voice {
  padding: 0 7px;
}

#custom-voice.idle {
  color: @text;
}

#custom-voice.recording {
  color: @red;
  background-color: alpha(@red, 0.2);
  border-color: @red;
}

#custom-voice.inactive {
  color: @overlay0;
  background-color: alpha(@overlay0, 0.3);
  border-color: @overlay0;
}

#custom-dnd {
  padding: 0 7px;
  font-size: 22px;
}

#custom-dnd.dnd-on {
  color: @base;
  background-color: @lavender;
}

#custom-dnd.dnd-off {
  color: @text;
}
