[Unit]
Description=Yet Another SKK server 2
After=yaskkserv2.socket
Requires=yaskkserv2.socket

[Service]
ExecStart=yaskkserv2 --google-cache-filename=/tmp/yaskkserv2.cache $HOME/.config/fcitx5/skk/dictionary.yaskkserv2

[Install]
WantedBy=multi-user.target
